# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [2]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [3]:
stocks = pd.read_csv('sp_500_stocks.csv')
#our iex cloud api token
# WE ARE USING SANDBOX SERVICE
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [4]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'ACGM(STSTEL DAEALO/ANLKGEN R)Q SB',
 'calculationPrice': 'close',
 'open': 127.51,
 'openTime': 1661386621944,
 'openSource': 'fficiaol',
 'close': 124.5,
 'closeTime': 1694344012517,
 'closeSource': 'ifaifloc',
 'high': 130.64,
 'highTime': 1684152633056,
 'highSource': '1rel n dei5emude ityapc',
 'low': 126.57,
 'lowTime': 1662708231119,
 'lowSource': '5tim d ieceel1eudn apry',
 'latestPrice': 121.62,
 'latestSource': 'Close',
 'latestTime': 'February 26, 2021',
 'latestUpdate': 1670700339985,
 'latestVolume': 170622268,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexLastUpdated': None,
 'delayedPrice': 122.08,
 'delayedPriceTime': 1638340370580,
 'oddLotDelayedPrice': 123.49,
 'oddLotDelayedPriceTime': 1643898801256,
 'extendedPrice': 124.26,
 'extendedChange': 0.5,
 'extendedChangePercent': 0.00427,
 'extendedPriceTime': 1664879170541,
 'previousClose': 123.37,
 'previousVolume': 151638711,
 'change': 0.27,
 'changePercent': 0.00227,
 'volume': 167546419,
 'iexMarketPercent': None,
 'iexVolume': None,
 'avgTotalVolume': 100370978,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexOpen': 123.82,
 'iexOpenTime': 1681012435078,
 'iexClose': 126.63,
 'iexCloseTime': 1660317943041,
 'marketCap': 2056113652612,
 'peRatio': 33.76,
 'week52High': 146.74,
 'week52Low': 54.2,
 'ytdChange': -0.08598178843810093,
 'lastTradeTime': 1642681710901,
 'isUSMarketOpen': False}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [5]:
pe_ratio = data['peRatio']
pe_ratio

33.76

## Executing A Batch API Call & Building Our DataFrame

It's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [6]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [7]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['quote']['peRatio'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  123.12                   54.38                     N/A
1      AAL   21.20                   -1.17                     N/A
2      AAP  162.96                   23.29                     N/A
3     AAPL  124.32                   33.79                     N/A
4     ABBV  111.42                   40.87                     N/A
..     ...     ...                     ...                     ...
500    YUM  107.49                    35.5                     N/A
501    ZBH  169.15                 -246.72                     N/A
502   ZBRA  524.08                   55.89                     N/A
503   ZION   54.86                    8.51                     N/A
504    ZTS  160.19                   46.23                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [8]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [9]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [10]:
portfolio_input()

Enter the value of your portfolio:1000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [11]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     NRG   37.18                    2.28                       0
1     AIV    4.76                    4.71                       4
2     BIO  601.30                    4.81                       0
3     ALL  109.60                     6.4                       0
4     UNM   26.51                    7.06                       0
5     AFL   48.24                    7.27                       0
6    EBAY   58.46                    7.28                       0
7     CPB   47.46                    8.06                       0
8     KIM   18.48                     8.2                       1
9      CE  143.71                    8.45                       0
10   ZION   54.86                    8.51                       0
11     KR   32.22                     8.6                       0
12    PHM   46.43                    8.72                       0
13    SRE  116.21                       9                       0
14     CI  210.50                    9.22                       0
15    PGR   86.88                    9.98                       0
16    CTL   11.00                   10.16                       1
17    MET   58.10                   10.39                       0
18    DHI   78.73                   10.41                       0
19    HII  177.18                   10.43                       0
20    PNC  168.51                   10.54                       0
21   DISH   31.81                    10.6                       0
22    LEN   86.41                   10.93                       0
23    CAH   51.90                   10.93                       0
24   BIIB  279.38                      11                       0
25     BK   43.13                   11.02                       0
26    HIG   51.44                   11.04                       0
27    PFG   59.00                    11.3                       0
28    DGX  120.03                    11.3                       0
29    WHR  193.60                   11.36                       0
30    MAS   55.26                    11.7                       0
31    STT   74.65                   11.73                       0
32    UHS  128.21                    11.9                       0
33     GM   51.93                   12.11                       0
34   INTC   60.98                    12.4                       0
35    TSN   68.54                   12.55                       0
36    ETR   89.65                    12.7                       0
37    CVS   69.47                   12.83                       0
38     VZ   56.10                   12.88                       0
39     GS  330.77                   12.92                       0
40     MS   78.84                   13.04                       0
41     WU   24.36                   13.06                       0
42    MGM   38.00                   13.12                       0
43      C   69.17                   13.24                       0
44   FOXA   34.44                   13.26                       0
45    SEE   43.50                   13.51                       0
46   CINF   97.98                   13.64                       0
47    LMT  336.28                   13.67                       0
48     GL   93.40                    13.7                       0
49   HOLX   74.02                   13.92                       0

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [12]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# P/E Ratio
pe_ratio = data[symbol]['quote']['peRatio']

# P/B Ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#P/S Ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# EV/EBITDA
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# EV/GP
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [13]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_dataframe = rv_dataframe.append(
            pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                'N/A',
                data[symbol]['quote']['peRatio'],
                'N/A',
                data[symbol]['advanced-stats']['priceToBook'],
                'N/A',
                data[symbol]['advanced-stats']['priceToSales'],
                'N/A',
                ev_to_ebitda,
                'N/A',
                ev_to_gross_profit,
                'N/A',
                'N/A'
        ],
        index = rv_columns),
            ignore_index = True
        )

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [14]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
40,AON,230.490,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,243.110,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,11.000,N/A,9.85,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,46.000,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,50.400,N/A,14.29,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
168,EVRG,56.080,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
190,FOX,32.910,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
192,FRC,171.820,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
204,GOOG,2089.280,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
326,MYL,16.156,N/A,31.91,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
327,NBL,8.640,N/A,-0.76,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
348,NWS,23.240,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
363,PEG,54.080,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
442,TROW,162.590,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
452,UA,18.500,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
454,UAL,53.260,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
498,XRX,26.210,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [15]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [16]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [17]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# Print each percentile score to make sure it was calculated properly
for metric in metrics.values():
    print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

0      0.853465
1      0.150495
2      0.447525
3      0.673267
4      0.768317
         ...
500    0.726733
501    0.009901
502    0.857426
503    0.174257
504    0.819802
Name: PE Percentile, Length: 505, dtype: object
0      0.746535
1      0.047525
2      0.417822
3      0.954455
4      0.877228
         ...
500    0.045545
501    0.392079
502    0.853465
503    0.126733
504    0.916832
Name: PB Percentile, Length: 505, dtype: object
0      0.813861
1      0.069307
2      0.115842
3      0.805941
4       0.60396
         ...
500    0.736634
501    0.691089
502    0.752475
503    0.388119
504    0.928713
Name: PS Percentile, Length: 505, dtype: object
0      0.879208
1      0.033663
2      0.215842
3      0.774257
4       0.40396
         ...
500    0.744554
501    0.857426
502    0.885149
503    0.073267
504    0.869307
Name: EV/EBITDA Percentile, Length: 505, dtype: object
0           0.8
1       0.10297
2      0.108911
3      0.914851
4      0.546535
         ...
500    0.649505
501    0.538614
502    0.811881
503    0.130693
504     0.89901
Name: EV/GP Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,123.75,N/A,53.56,0.853465,8.07,0.746535,7.260,0.813861,32.330223,0.879208,13.616661,0.8,N/A
1,AAL,21.13,N/A,-1.15,0.150495,-2.03,0.047525,0.779,0.069307,-4.359229,0.033663,2.278550,0.10297,N/A
2,AAP,165.91,N/A,23.00,0.447525,3.04,0.417822,1.050,0.115842,10.597613,0.215842,2.385161,0.108911,N/A
3,AAPL,125.62,N/A,33.05,0.673267,31.21,0.954455,7.090,0.805941,24.168886,0.774257,17.625082,0.914851,N/A
4,ABBV,112.04,N/A,40.80,0.768317,14.71,0.877228,4.150,0.60396,14.175420,0.40396,8.555491,0.546535,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,107.08,N/A,36.66,0.726733,-4.07,0.045545,5.700,0.736634,22.998011,0.744554,9.653351,0.649505,N/A
501,ZBH,164.63,N/A,-247.29,0.009901,2.86,0.392079,4.930,0.691089,30.220545,0.857426,8.504407,0.538614,N/A
502,ZBRA,512.55,N/A,55.78,0.857426,12.94,0.853465,6.000,0.752475,35.432059,0.885149,13.789397,0.811881,N/A
503,ZION,54.62,N/A,8.46,0.174257,1.22,0.126733,2.510,0.388119,6.918848,0.073267,2.956830,0.130693,N/A
504,ZTS,157.31,N/A,46.25,0.819802,19.73,0.916832,11.550,0.928713,31.165842,0.869307,16.778965,0.89901,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [18]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,123.75,N/A,53.56,0.853465,8.07,0.746535,7.260,0.813861,32.330223,0.879208,13.616661,0.8,0.818614
1,AAL,21.13,N/A,-1.15,0.150495,-2.03,0.047525,0.779,0.069307,-4.359229,0.033663,2.278550,0.10297,0.080792
2,AAP,165.91,N/A,23.00,0.447525,3.04,0.417822,1.050,0.115842,10.597613,0.215842,2.385161,0.108911,0.261188
3,AAPL,125.62,N/A,33.05,0.673267,31.21,0.954455,7.090,0.805941,24.168886,0.774257,17.625082,0.914851,0.824554
4,ABBV,112.04,N/A,40.80,0.768317,14.71,0.877228,4.150,0.60396,14.175420,0.40396,8.555491,0.546535,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,107.08,N/A,36.66,0.726733,-4.07,0.045545,5.700,0.736634,22.998011,0.744554,9.653351,0.649505,0.580594
501,ZBH,164.63,N/A,-247.29,0.009901,2.86,0.392079,4.930,0.691089,30.220545,0.857426,8.504407,0.538614,0.497822
502,ZBRA,512.55,N/A,55.78,0.857426,12.94,0.853465,6.000,0.752475,35.432059,0.885149,13.789397,0.811881,0.832079
503,ZION,54.62,N/A,8.46,0.174257,1.22,0.126733,2.510,0.388119,6.918848,0.073267,2.956830,0.130693,0.178614
504,ZTS,157.31,N/A,46.25,0.819802,19.73,0.916832,11.550,0.928713,31.165842,0.869307,16.778965,0.89901,0.886733

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [19]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [20]:
portfolio_input()

Enter the value of your portfolio:
That's not a number!
 Try again:
Enter the value of your portfolio:

In [21]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

ValueError: could not convert string to float: ''

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [22]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [23]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [24]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [25]:
writer.save()